body {
    background: rgb(87, 135, 213);
    font: normal 15pt Arial;
}

header, footer {
    text-align: center;
    color: white;
}

div {
    text-align: center;
    padding: 8px;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

footer {
    font-style: italic;
}